    <!-- header --><!--{{{-->
    <div class="row-fluid">
        <div class="span4">
            <ul class="breadcrumb">
                <li><a href="#">首页</a> <span class="divider">/</span></li>
                <li><a href="#">基础数据维护</a> <span class="divider">/</span></li>
                <li class="active">处方库维护</li>
            </ul>
        </div>
    </div><!-- end row 1 -->
    <!--}}}-->

    <!-- search and add --><!--{{{-->
    <div class="row-fluid padding-bottom-20 ">
        <div class="span2">
            <button class="btn btn-info" ng-click="open(null)">添加处方</button>
        </div>

        <div class="offset6 span4">
            <form class="form-search">
                <div class="input-append">
                    <input type="text" class="search-query" placeholder="处方名称" ng-model="searchStr"/>
                    <button type="submit" class="btn btn-info" ng-click=search(searchStr)>搜索</button>
                </div>
            </form>
        </div>
    </div><!-- end row 2 --><!--}}}-->

    <!-- form --><!--{{{-->
    <div class="row-fluid">
        <div class="span12">
            <table class="table table-bordered table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th>处方名称</th>
                    <th>编号</th>
                    <th>主要疗效</th>
                    <th>是标准的</th>
                    <th>对应专家</th>
                    <th>拼音</th>
                    <th>五笔</th>
                    <th>数据状态</th>
                    <th>数据操作</th>
                    <th>详细</th>
                    <th>删除</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="fixedrecipe_item in fixedrecipe_list">
                    <td>{{fixedrecipe_item.name}}</td>
                    <td>{{fixedrecipe_item.code}}</td>
                    <td>{{fixedrecipe_item.effect}}</td>
                    <td>{{fixedrecipe_item.isClassical}}</td>
                    <td>{{fixedrecipe_item.SPETid}}</td>
                    <td>{{fixedrecipe_item.py}}</td>
                    <td>{{fixedrecipe_item.wb}}</td>
                    <td>{{fixedrecipe_item.state}}</td>
                    <td><button class="btn btn-small btn-info" ng-click="open(fixedrecipe_item.FREPid, flase)">修改</button></td>
                    <td><button class="btn btn-small btn-info" ng-click="open(fixedrecipe_item.FREPid, true)">详细</button></td>
                    <td><button class="btn btn-small btn-info" ng-click="alert(fixedrecipe_item)">删除</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div><!-- end row 3 --><!--}}}-->

    <!-- pagination --><!--{{{-->
    <div class="row-fluid">

        <div class="span6">
            <pagination boundary-links="true" num-pages="pagination.noOfPages" current-page="pagination.currentPage" on-select-page="pagination.setPage(page)" max-size="pagination.maxSize"></pagination>
        </div>
        <div class="span3">
            一共{{pagination.numResults}}条数据
        </div>
        <div class="span3">
            <form>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn" ng-click="pagination.setPage(jumpTo)">跳至</button>
                        <input type="number" class="input-mini" ng-model="jumpTo"/>
                    </div>
                </div>
            </form>
        </div>

    </div><!-- end row 4 --><!--}}}-->

    <!-- alert --><!--{{{-->
    <div modal="open_delete_alert" close="close_alert()" >
        <div class="alert alert-block">
            <strong>注意：</strong>
            <br>
            确定要删除下列处方吗？
            <br>
            <strong>{{fixedrecipe_to_delete.name}}</strong>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="delete(fixedrecipe_to_delete.FREPid)" ng-click="close_alert()">确定删除</button>
                <button class="btn btn-info"ng-click="close_alert()">取消</button>
            </div>
        </div>
    </div><!--}}}-->

    <!-- show or add or edit --><!--{{{-->
    <div modal="shouldBeOpen" close="close()" options="opts">
        <div class="modal-header">
            <h3>{{form_head}}</h3>
            <span>{{msg}}</span>
        </div>
        <div class="modal-body">

            <form class="form-horizontal">
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label">处方编号</label>
                    <div class="controls">
                        <input ng-disabled="view_or_not" type="text" placeholder="" class="input-xlarge" ng-model="new_fixedrecipe.code" />
                    </div>
                </div>

                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label">处方名称</label>
                    <div class="controls">
                        <input ng-disabled="view_or_not" type="text" placeholder="" class="input-xlarge" ng-model="new_fixedrecipe.name" />
                    </div>
                </div>

                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label">主要疗效</label>
                    <div class="controls">
                        <input ng-disabled="view_or_not" type="text" placeholder="" class="input-xlarge" ng-model="new_fixedrecipe.effect" />
                    </div>
                </div>

                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label">拼音</label>
                    <div class="controls">
                        <input ng-disabled="view_or_not" type="text" placeholder="" class="input-xlarge" ng-model="new_fixedrecipe.py" />
                    </div>
                </div>

                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label">五笔</label>
                    <div class="controls">
                        <input ng-disabled="view_or_not" type="text" placeholder="" class="input-xlarge" ng-model="new_fixedrecipe.wb" />
                    </div>
                </div>

                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label">说明</label>
                    <div class="controls">
                        <textarea ng-disabled="view_or_not" type="text" placeholder="" class="input-xlarge" ng-model="new_fixedrecipe.illustration" />
                    </div>
                    <section id="tables">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>药品名称</th>
                                <th>数量</th>
                                <th>药品说明</th>
                                <th>删除</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="fixedrecipeItem in new_fixedrecipe.fixedrecipeItems">
                                <td>{{fixedrecipeItem.sequence}}</td>
                                <td>{{fixedrecipeItem.DRUGid}}</td>
                                <td>
                                    <div class="control-group">
                                        <!-- Text input-->
                                        <div class="controls">
                                            <input ng-disabled="view_or_not" type="text" placeholder="" class="input-mini" ng-model="fixedrecipeItem.quality" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="control-group">
                                        <!-- Text input-->
                                        <div class="controls">
                                            <input ng-disabled="view_or_not" type="text" placeholder="" class="input-xlarge" ng-model="fixedrecipeItem.illustration" />
                                        </div>
                                    </div>
                                </td>
                                <td><button class="btn btn-small btn-info" ng-click="delete_fixedrecipe_item(fixedrecipeItem.FRITid)">删除</button></td>
                            </tr>
                            </tbody>
                            <tbody>
                        </table>
                    </section>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="submit()" ng-disabled="view_or_not">提交</button>
            <button class="btn btn-warning" ng-click="close()">关闭</button>
        </div>
    </div><!--}}}-->
